<footer class="flex items-center justify-center p-5 text-center">
    <aside class="flex flex-col items-center">
      <p class="font-semibold">Andres Benavides</p>
      <p class="mt-2 text-xs dark:text-white/90">
        Copyright © {new Date().getFullYear()} - Todos los derechos reservados
      </p>
    </aside>
  </footer>
  