---
import { projects } from "../consts/projects";
import TechIconsScroller from "../components/TechIconsScroller.astro";
---

<section
  id="projects"
  class="py-16 dark:bg-gray-900 dark:text-white bg-gray-200 text-gray-900"
>
  <div class="container mx-auto px-6">
    <div>
      <div class="flex w-full items-center mb-12">
        <div class="dark:border-white border-black border-2 flex-grow border-t">
        </div>
        <div class="mx-4">
          <h2 class="text-center text-4xl font-bold">Mis Proyectos</h2>
        </div>
        <div class="dark:border-white border-black border-2 flex-grow border-t">
        </div>
      </div>
      <TechIconsScroller />
      <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 mt-16">
        {
          projects.map((project) => (
            <a
              href={`/proyecto/${project.slug}`}
              class="group relative overflow-hidden dark:bg-gray-800 bg-white rounded-xl shadow-lg transition hover:scale-[1.03] hover:shadow-xl animate-fade-up flex flex-col h-full"
            >
              <div class="h-48 overflow-hidden rounded-t-xl">
                <img
                  src={project.image?.src}
                  alt={`Imagen de ${project.title}`}
                  class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
                />
              </div>

              <div class="p-4">
                <h3 class="text-xl font-semibold mb-2">{project.title}</h3>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
